.main__form {
  width: 500px;
  margin: auto;
  padding: 25px 15px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 8px;
}

.form__control {
  height: 40px;
  border: 2px solid #dde6ef;
  margin-bottom: 20px;
  box-shadow: none;
  background: #fbfdff;
  font-size: 14px;
  color: #6b7c8a;
  padding: 6px 18px;
  font-weight: 500;
  width: 100%;
  border-radius: 4px;
  outline: none;
}

.form__control:focus {
  outline: 2px solid #26ae61;
  border: 2px solid transparent;
}

.form__group label {
  margin-bottom: 10px;
  display: inline-block;
}

.password__control label:nth-child(2) {
  text-decoration: underline;
  cursor: pointer;
  color: #00903e;
}

.form__group button {
  height: 50px;
  border: 2px solid #26ae61;
  margin-bottom: 20px;
  box-shadow: none;
  background: #26ae61;
  font-size: 14px;
  color: #fff;
  padding: 6px 18px;
  font-weight: 600;
  width: 100%;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  box-shadow: 0 4px 10px 0 rgba(41, 128, 185, 0.2);
  transition: all 0.5s ease-in-out;
  letter-spacing: 1.3px;
}

.form__group button:hover {
  background-color: transparent;
  color: #26ae61;
}

form p {
  text-align: center;
}

form p a {
  color: #26ae61;
  text-decoration: underline;
}

.form__header {
  font-size: 3rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-bottom: 10px;
  text-align: center;
}

.alternative {
  text-align: center;
  margin: 20px 0;
}

.social__group button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  background-color: transparent;
  border: 2px solid transparent;
  color: #26ae61;
  height: 50px;
  margin-bottom: 20px;
  font-size: 14px;
  padding: 6px 18px;
  font-weight: 600;
  width: 100%;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  box-shadow: 0 4px 10px 0 rgba(41, 128, 185, 0.2);
  transition: all 0.5s ease-in-out;
  font-family: 'Fira Sans', sans-serif;
}

.social__group button:hover {
  border: 2px solid #26ae61;
}

.social__group button svg {
  margin-top: 2px;
  font-size: 24px;
  fill: black;
}


@media (max-width: 767.98px) {
  .main__form {
    width: 300px;
  }

  .form__header {
    font-size: 26px;
  }

  form p {
    font-size: 12px;
  }
}